{
  "extends": "google",
  "env": {
    "jquery": true,
    "worker": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "no-trailing-spaces"       : ["off"],
    "space-in-parens"          : ["error", "always"],
    "array-bracket-spacing"    : ["error", "always", { "arraysInArrays": false }],
    "computed-property-spacing": ["error", "always"],
    "padded-blocks"            : ["error", { "blocks": "always" }],
    "no-multi-spaces"          : ["error", { "exceptions": { "VariableDeclarator": true } }],
    "key-spacing"              : ["error", { "align": "colon"}],
    "quotes"                   : ["error", "single"],
    "no-implicit-coercion"     : ["error", { "allow": ["!!", "~", "+", "*"] } ],
    "arrow-parens"             : ["error", "always"],
    "no-return-assign"         : ["off"],
    "no-param-reassign"        : ["off"],
    "no-cond-assign"           : ["off"],
    "curly"                    : ["off"]
  }
}